@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body.dark {
  background-color: rgba(3, 3, 3, 0.959);
  color: white;
  }
  
body.light {
    
    background-color: rgb(217, 215, 210);
   
  }
  
  body.light p {
    color: rgb(0, 0, 0);
  }
  body.light  h1{
    color: rgb(0, 0, 0);
  }
  body.light  h6{
    color: rgb(0, 0, 0);
  }
  body.light  nav li{
    color: rgb(91, 89, 89);
   border-bottom: none;
  }

  body.light li:hover{
    color: rgb(193, 26, 212);

  }

  body.light  .brn{
    border:none
  }

  body.light  .fot{
    color: rgb(255, 255, 255);
  }

.glow{
    transition: all 0.3s ease-in-out;
}

.glow:hover{
    box-shadow: 0 0 25px rgb(206, 71, 193);
}

